body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto";
  background: #a8a8aa;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
}

h2 {
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto";
}


.container {
  margin-left: auto;
  margin-right: auto;
  background: #dad9d7;
  min-width: 900px;
  max-width: 1200px;
}

.main-header {
  outline: 5px solid black;
  box-sizing: border-box;
}

.logo {
  display: block;
  box-sizing: borer-box;
  width: 153px;
  min-height: 63px;
  float: left;
  margin-right: 30px;
}

.main-menu>ul,
.submenu{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.main-menu:after {
  content: "";
  display: table;
  clear: both;
}

.main-menu {
  position: relative;
  float: left;
  background: yellow;
  height: 32px;
  width: ;
  margin-top: 22px;
}

.main-menu-item {
  display: inline-block;
  margin-right: 30px;
}

.main-menu-item:last-child {
  margin-right: 0px;
}

.submenu {
  display: none;
}
/*Отрегулировать положение выпадающего меню по горизонтали*/
a[href*="catalog"]:hover+.submenu {
  display: block;
  position: absolute;
  background: orange;
  left: 5px;
  top: 37px;
  width: 143px;
  height: 171px;
}

.user-block {
    box-sizing: border-box;
    float: right;
    margin-top: 22px;
}

.user-block>div {
    display: inline-block;
    vertical-align: top;
}

.search {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: green;
    box-sizing: border-box;
    margin-right: 10px;
}

.search-trigger {
    display: block;
    background: yellow;
     width: 32px;
     height: 32px;
    border-radius: 50%;
    box-sizing: inherit;
}

.search-form {
    display: none;
}

.search-trigger:hover+.search-form {
    display: block;
    box-sizing: inherit;
    background: orange;
    position: absolute;
    width: 342px;
    height: 69px;
    padding: 15px;
    left: -310px;
    top: 35px;
}

/*Выяснить куда съехал контейнер*/
.login: {
    box-sizing: border-box;
    position: relative;
    width: 92px;
    height: 32px;
    background: green;
    margin-right: 10px;
}

.login-trigger {
    display: block;
    width: 92px;
    height: 32px;
    background: yellow;
    box-sizing: inherit;
    margin-right: 10px;
    border-radius: 50px 50px 50px 50px;
}

.login-form {
  display: none;
}

.login-trigger:hover+.login-form {
    display: block;
    box-sizing: inherit;
    position: absolute;
    width: 272px;
    height: 175px;
    background: orange;
    left: -10px;
    top: 43px;
}

.cart {
    box-sizing: border-box;
    position: relative;
    width: 117px;
    height: 32px;
    background: green;
}

.cart-trigger {
    display: block;
    box-sizing: inherit;
    width: 117px;
    height: 32px;
    background: yellow;
    border-radius: 50px 50px 50px 50px;
}

.cart-full {
  display: none;
}

.cart-trigger:hover+.cart-full {
    display: block;
    position: absolute;
    width: 540px;
    height: 239px;
    background: orange;
}

.content {
  outline: 5px solid pink;
  box-sizing: border-box;
  margin-right: 2.25%;
  margin-left: 2.25%;
}

.header-phone {
  outline: 5px solid green;
  box-sizing: border-box;
  width: auto;
  text-align: right;
}

.promo {
  outline: 1px solid red;
  margin-top: 572px;
  margin-bottom: 40px;
}

.promo-item {
  width: 48.3%;
  height: 230px;
  text-align:left;
  background: yellow;
}

.promo-item:first-child {
  float: left;
  margin-right: 2.25%
}

.promo-item:last-child {
  float: right;
}

.catalog {
  outline: 1px solid red;
  margin-bottom: 35px;
}
/*остается справа зазор*/
.catalog-item {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  text-align: center;
  background: yellow;
}

.catalog-item:last-child {
  margin-right: 0%
}

.about {
  outline: 1px solid red;
  height: 306px;
  width: 100%;
  margin-bottom: 40;
}

.about-item {
  display: inline-block;
}






.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


